<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.morty.myvueback.mapper.OrgMapper">

    <resultMap id="BaseResultMap" type="com.yc.morty.myvueback.domain.Org">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,org_name,pid
    </sql>
</mapper>
